<!-- MENU -->
    <div class="navbar-perso">
        <div class="dropdown-perso">
            <button class="dropbtn" >+</button>
            <div class="dropdown-perso-content" *ngIf="log()">
              <!--ici on a un bug en cas de déconnexion, temps que le header n'est pas raffraichi on garde les anciens credentials en local-->
              <!-- bug corrigé mais renvoie un console.log à chaque interraction-->
                <li>{{details?.NameUser}}</li> <!--on met l'operateur '?' dit Elvis operator pour éviter une erreur due au temps de recup après l'envoie de la requete http-->
                <li>{{details?.SurnameUser}}</li>
                <li>{{details?.Section}}</li>
                <!--<a routerLink="/user/change">Modifier</a>-->
                <p class="deco" (click)="logout()">Déconnexion</p>
            </div>
        </div>
        <a routerLink="accueil">Accueil</a>
        <div class="dropdown-perso">
            <button class="dropbtn">Notes</button>
            <div class="dropdown-perso-content ">
              <a id="colornote" routerLink="/marks">Consulter mes notes</a><br>
              <a id="colornote" routerLink="/addmark">Ajouter une note</a>
            </div>
        </div>
        <div class="dropdown-perso" *ngIf="isAdmin()">
            <button class="dropbtn">Administrateur</button>
            <div class="dropdown-perso-content ">
              <a id="adminS" routerLink="/subject/add">Ajouter une matière</a>
              <a id="adminS" routerLink="/coefficients">Modifier une matière</a>
              <a id="adminS" routerLink="/subject/delete">Supprimer une matière</a>
              <a id="adminU" routerLink="/ue">Ajouter un UE</a>
              <!--<a id="adminU" routerLink="/#">Supprimer un UE</a>-->
            </div>
        </div>
    </div>
