.navbar-perso {
  overflow: hidden;
  background-color: #333;
}

.navbar-perso a {
  float: left;
  font-size: 14px;
  /*font-weight: bold;*/
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.dropdown-perso {
  float: left;
  overflow: hidden;
}

.dropdown-perso .dropbtn {
  font-size: 14px;
  /*font-weight: bold;*/
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar-perso a:hover, .dropdown-perso:hover .dropbtn {
  background-color: #007bff;
}

.dropdown-perso-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-perso-content a:hover {
  background-color: #ddd;
}

.dropdown-perso:hover .dropdown-perso-content {
  display: block;
}

/* Elements dans le dropdown-perso */
.dropdown-perso-content li {
  font-size: 14px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }

  .dropdown-perso-content a {
    font-size: 14px;
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
  }

  .deco {
    font-size: 14px;
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  #colornote{
    color: black;
  }
  #adminS{
    text-align: left;
    color: #0051ffbb;
    font-weight: 400;
  }
  #adminU{
    text-align: left;
    color: grey;
    font-weight: 400;
  }

/*  On ne prend pas en compte les mobiles de largeur inférieur ou égale à 320px (les étudiants n'en possèdent pas en très grande majorité) */

  @media only screen and (min-width: 600px) {
    .navbar-perso a {
      font-size: 20px;
    }
    .dropdown-perso .dropbtn {
      font-size: 20px;
    }
    .dropdown-perso-content li {
      font-size: 18px;
    }
    .deco{
      font-size: 20px;
    }
  }

  @media only screen and (min-width: 769px) {
    .navbar-perso a {
      font-size: 26px;
    }
    .dropdown-perso .dropbtn {
      font-size: 26px;
    }
    .dropdown-perso-content li {
      font-size: 22px;
    }
    .deco{
      font-size: 26px;
    }
  }
