h1{
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.UE{
  margin:10px;
}

div h2{
  text-align: center;
  color: #000000ba;
  background-color: #0051ff75;
  margin-bottom: 0px;
  padding: 14px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #dadada8a;
}

input{
  width:28px;
  text-align: center;
  border: solid #dddddd;
}
