<h1 class="panel-heading">Modification des coefficients</h1>
<div class="coeff">
  <!--Les inputs pour les paramètres des notes-->
  <form (submit)='putNewCoef()'>
      <div classe="">

        <div class="form-group row">
          <div class="col-sm-10">
            <select type="number" class="custom-select" id="subject" name="IdSubject" (change)="getCoef($event.target.value)">
              <option disabled id="firstselect">Selectionner une matière</option>
              <option *ngFor='let subject of subjects' [value]="subject.IdSubject">{{subject.NameSubject}}</option>
            </select>
          </div>
        </div>

        <!--<div class="form-group row">-->
          <!--Coefficient to modify-->
          <!--<label for="Coef" class="col-8 col-form-label">Coefficient à modifier: </label>-->
          <div>
            <div class="divcoef">
              <input class="coef" type="number" min="0" max="100" maxlength="2" id="Coef" name="Coef" [value]="Coef" (change)="setCoef($event.target.value)">
            </div>
          </div>
        <!--</div>-->
      </div>
      <!--Le bouton de validation-->
        <div id="valider">
          <button type="submit" class="btn btn-primary">MODIFIER</button>
        </div>
  </form>
  <div class="container">
    <div class="row">
      <div class="offset-sm-2"></div>
      <div class="col-sm-8">
        <div class="subjects">
          <li class="list-group-item" *ngFor='let subject of subjects'>{{subject.NameSubject}}: <span class="badge">{{subject.CoefSubject}}</span></li>
        </div>
      </div>
      <div class="offset-sm-2"></div>
    </div>
  </div>
</div>
