<h1>Formulaire de modification des informations personnelles</h1>

<form (submit)='register()'>

  <!--ID of an user-->
  <div class="form-group row">
    <label for="useremail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <!--On utilse [(ngModel)] pour bind l'entrée de notre input à une valeur du credential du fichier ts-->
      <input type="email" class="form-control" id="useremail" name="EmailUser" placeholder="prenom.nom@etu.umontpellier.fr" [(ngModel)]="credentials.EmailUser">
    </div>
  </div>

  <!--data of the user-->
  <div class="form-group row">
    <label for="username" class="col-sm-2 col-form-label">Prénom</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="username" autocomplete="given-name" name="NameUser" placeholder="Prénom de l'étudiant" [(ngModel)]="credentials.NameUser">
    </div>
  </div>

  <div class="form-group row">
    <label for="usersurname" class="col-sm-2 col-form-label">Nom</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="usersurname" autocomplete="family-name" name="SurnameUser" placeholder="Nom de l'étudiant" [(ngModel)]="credentials.SurnameUser">
    </div>
  </div>

  <div class="form-group row">
    <label for="section" class="col-sm-2 col-form-label">Section</label>
    <div class="col-sm-10">
      <select class="custom-select" id="section" name="Section" [(ngModel)]="credentials.Section">

        <option value="IG3">IG3</option>
        <option value="IG4">IG4</option>
        <option value="IG5">IG5</option>

        <option value="MEA3">MEA3</option>
        <option value="MEA4">MEA4</option>
        <option value="MEA5">MEA5</option>

        <option value="MAT3">MAT3</option>
        <option value="MAT4">MAT4</option>
        <option value="MAT5">MAT5</option>

        <option value="MI3">MI3</option>
        <option value="MI4">MI4</option>
        <option value="MI5">MI5</option>

        <option value="GBA3">GBA3</option>
        <option value="GBA4">GBA4</option>
        <option value="GBA5">GBA5</option>

        <option value="STE3">STE3</option>
        <option value="STE4">STE4</option>
        <option value="STE5">STE5</option>

        <option value="MSI3">MSI3</option>
        <option value="MSI4">MSI4</option>
        <option value="MSI5">MSI5</option>

        <option value="EGC3">EGC3</option>
        <option value="EGC4">EGC4</option>
        <option value="EGC5">EGC5</option>

        <option value="SE3">SE3</option>
        <option value="SE4">SE4</option>
        <option value="SE5">SE5</option>

        <option value="PEIP1">PEIP1</option>
        <option value="PEIP2">PEIP2</option>
      </select>
    </div>
  </div>

  <!--year selection-->
  <!--
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0 ">Année</legend>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="year" id="radio1" value="1" checked>
          <label class="form-check-label" for="radio1">
            1
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="year" id="radio2" value="2" checked>
          <label class="form-check-label" for="radio2">
            2
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="year" id="radio3" value="3" checked>
          <label class="form-check-label" for="radio3">
            3
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="year" id="radio4" value="4" checked>
          <label class="form-check-label" for="radio4">
            4
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="year" id="radio5" value="5" checked>
          <label class="form-check-label" for="radio5">
            5
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  -->

  <!-- Pour une future version à développer hors Montpellier:
  <div class="form-group row">
    <label for="inputville" class="col-sm-2 col-form-label">Ville</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputville" placeholder="Ville de l'étudiant">
    </div>
  </div>-->
  <!--password and Confirmation-->
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Mot de passe</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" autocomplete="password" placeholder="Nouveau mot de passe" [(ngModel)]="credentials.Password" name="Password">
      <small id="passwordHelpBlock" class="form-text text-muted">
        Votre mot de passe doit faire entre 8 et 20 caractères, contenir des lettres et des chiffres, et ne doit PAS contenir de caractères spéciaux.
      </small>
    </div>
  </div>
  <!--
  <div class="form-group row">
    <label for="cpassword" class="col-sm-2 col-form-label">Confirmation du mot de passe</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="cpassword" autocomplete="password" placeholder="Mot de passe" [(ngModel)]="credentials.Cpassword" name="Cpassword">
    </div>
  </div>
  -->
  <div class="form-group row">
    <div id="modifier">
      <button type="submit" class="btn btn-primary">S'INSCRIRE</button>
    </div>
  </div>
</form>
