<div>
    <h1>
      Welcome to Median!
    </h1>
</div>

<!-- avec le premier ngFor on va séparer les semestres
     avec le second on affiche les matières et leurs moyennes -->
<div class="moyennes" *ngFor="let sem of mesNotes; let i = index">
  <p id="semester"> Moyennes du Semestre{{i+1}}:</p>
  <div class="matiere">
    <div>
      <p id="ue">UE Fondamentaux de l'infomatique: 13</p>
    </div>
    <div *ngFor="let mat of sem">
      <div>
        <li>{{mat.NomMatiere}} : {{mat.Moyenne}}</li>
      </div>
    </div>
    <p id="tostyle"></p>
  </div>
</div>
