<h1>Modifications des coefficients par UE</h1>

<div class="UE">
  <div>
    <h2>UE Relou</h2>
  </div>
  <table>
    <tr>
      <th>Matière</th>
      <th>Coefficient actuel</th>
      <th>Coefficient modifié</th>
    </tr>
    <tr>
      <td>Théorie des organisations</td>
      <td>3</td>
      <td><input type="text" maxlength="2" name="coef" value=""></td>
    </tr>
    <tr>
      <td>Analyse de coûts</td>
      <td>3</td>
      <td><input type="text" maxlength="2" name="" value=""></td>
    </tr>
  </table>
</div>
<div class="UE">
  <div>
    <h2>UE Moins relou</h2>
  </div>
  <table>
    <tr>
      <th>Matière</th>
      <th>Coefficient actuel</th>
      <th>Coefficient modifié</th>
    </tr>
    <tr>
      <td>POO</td>
      <td>3</td>
      <td><input type="text" maxlength="2" name="coef" value=""></td>
    </tr>
    <tr>
      <td>FAR</td>
      <td>3</td>
      <td><input type="text" maxlength="2" name="" value=""></td>
    </tr>
    <tr>
      <td>TTT</td>
      <td>1</td>
      <td><input type="text" maxlength="2" name="coef" value=""></td>
    </tr>
    <tr>
      <td>UML</td>
      <td>2</td>
      <td><input type="text" maxlength="2" name="coef" value=""></td>
    </tr>
  </table>
</div>
<div class="UE">
  <div>
    <h2>UE Relou</h2>
  </div>
  <table>
    <tr>
      <th>Matière</th>
      <th>Coefficient actuel</th>
      <th>Coefficient modifié</th>
    </tr>
    <tr>
      <td>Théorie des organisations</td>
      <td>3</td>
      <td><input type="text" maxlength="2" name="coef" value=""></td>
    </tr>
    <tr>
      <td>Analyse de coûts</td>
      <td>3</td>
      <td><input type="text" maxlength="2" name="" value=""></td>
    </tr>
  </table>
</div>
