div{
  text-align: center
}
h1{
  margin-top: 20px;
}
li {
  font-size: 18px
}

.home{
  font-size: 24px;
  margin: 10px;
  margin-bottom: 50px;
}

.semester{
  z-index: 1;
  background-color: #F3EFE0
}
.subject{
    border-style: double;
    border-width: 5px;
    border-color: #0051ff75;
    margin-bottom: 8px;
}
.ue{
  background-color: #0051ff75;
  margin-right: -1px;
  margin-bottom: 6px;
}
.avgUE{
  background-color: #0051ff75;
  margin-right: -1px;
}
.marks{
  margin-bottom: 3px
}
