1<div>
    <h1>
      Welcome to Median!
    </h1>
</div>

<div class="home">
  <p class="semester">Moyennes du semsetre 1:</p>
  <div class="subject" *ngFor="let ue of orderedMarks1; let i = index">
    <p class="ue"> {{ue.NameUE}}:</p>
    <p class="avgUE">{{avg1[i]}}</p>
    <div class="marks">
      <div *ngFor="let sub of ue.Subjects; let j = index">
        <div>
          <li>{{sub.NameSubject}} : {{averagesS1[i][j]}}</li>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home">
  <p class="semester">Moyennes du semsetre 2:</p>
  <div class="subject" *ngFor="let ue of orderedMarks2; let i = index">
    <p class="ue"> {{ue.NameUE}}:</p>
    <p class="avgUE">{{avg2[i]}}</p>
    <div class="marks">
      <div *ngFor="let sub of ue.Subjects; let j = index">
        <div>
          <li>{{sub.NameSubject}} : {{averagesS2[i][j]}}</li>
        </div>
      </div>
    </div>
  </div>
</div>
