div{
  text-align: center
}
h1{
  margin-top: 20px;
  margin-bottom: 20px;
}
li {
  font-size: 18px
}

.home{
  font-size: 24px;
  margin: 10px;
  margin-bottom: 50px;
}

.semester{
  z-index: 1;
  background-color: #F3EFE0;
  font-weight: 430;
  font-size: 26px;
  margin-left: -9px;
  margin-right: -8px;
  padding: 8px;
}
.subject{
    border-style: solid;
    border-width: 2px;
    border-color: #777777;
    margin-bottom: 8px;
}
.shadow {
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  border-radius: 5px;
}
.ue{
  background-color: #0051ff75;
  margin-right: -1px;
  margin-bottom: 0px;
  color: #4b4f5a;
}
.avgUE{
  background-color: #0051ff75;
  margin-right: -1px;
  margin-bottom: 6px;
  color: black;
  font-weight: 500;}
.marks{
  margin-bottom: 3px
}
