div{
  text-align: center
}
img{
  width: "100";
  alt: "Angular Logo"
}
li {
  font-size: 18px
}

.moyennes{
  font-size: 24px;
  margin: 10px;
  margin-bottom: 50px;
}

.matiere{
    border-style: double;
    border-width: 5px;
    border-color: #0051ff75;
}

#semester{
  z-index: 1;
  background-color: #F3EFE0
}
#ue{
  background-color: #0051ff75;
  margin-right: -1px;
}
#tostyle{
  margin: 4px
}
