h1{
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}
input{
  height: 34px;
  width:43px;
  text-align: center;
  border: solid #dddddd;
}
.note-perso{
  margin: 10px;
}
.col-form-label{
  text-align: right;
}
#valider{
  margin: auto;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
}
.col-3{
  margin-top: 5px;
}

@media only screen and (min-width: 600px) {
  h1{
    margin: 17px;
    margin-bottom: 25px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 769px) {
  h1{
    margin: 20px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}
