h1{
  margin-top: 10px;
  font-size: 22px;
  text-align: center;
}
.row{
  margin-right: 5px;
  margin-left: 5px;
}

form{
  margin-left: 6px;
}

#modifier{
  margin: auto;
}
.title{
  font-size: 24px;
  font-weight: 800;
  margin: 40px;
}
@media only screen and (min-width: 600px) {
  h1{
    margin: 17px;
    margin-bottom: 25px;
    font-size: 25px;
  }
}
@media only screen and (min-width: 769px) {
  h1{
    margin: 20px;
    margin-bottom: 30px;
    font-size: 30px;
  }
}
